body{
    background: linear-gradient(rgb(133, 72, 72), rgb(103, 195, 226));
}
body>*{
    width: 80%;
    max-width: 1000px;
    margin: auto;
}
header ul{
    padding-left: 0px;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}
header ul li a {
    text-decoration: none;
}
header ul a:hover{
    text-decoration: underline;
}
header nav a{
    color: white;
}
main{
   background-color: white;
   padding: 70px 20px;
   border-radius: 20px;
}
h1{
    color:white;
    text-align: center;
}
main img{
    height: 150px;
    border-radius: 10px;
    transition: 0.3s;
}
#img{
    display: flex;
    align-items: center;
}
main blockquote{
    background-color: beige;
    padding: 10px;
    border-radius: 10px;
    transition:  2s ;
    transform: scale(0);
}
main img:hover+blockquote{
       opacity: 4;
       transform: scale(1);
}
img:hover{
    border-radius: 50%;
}
footer ul{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    color: white;
}
footer a{
    color: white;
}
footer ul img{
    width: 50px;
    height: 50px;
    border-right: 100%;
}
.img{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: black;
}
 aside img:hover+header img{
    transform: scale(1);
}
footer li{
    display: flex;
    align-items: center;
    padding-bottom: 5px;
    text-decoration: none;
}
#about{
    width: 650px;
    max-width: 100%;
}
#ul{
    float: right;
    white-space: nowrap;
    list-style-type: none;
}
#contacts{
    float: right;
    white-space: nowrap;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
#g-mail{
    text-decoration: none;
    color: black;
}
hr{
    color: rgb(52, 89, 255);
    font-size: 10px;
}
#input-4{
    max-width: 400px;
    margin: 25px;
    padding: 10px 20px;
    border: aqua 5px solid;
    font-size: 18px;
}
button{
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    padding: 20px;
    background-color: black;
    color: aqua;
    border: 1px solid aqua;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    margin-left: 440px;
}
#input-5{
    float: right;
    white-space: nowrap;
    height: 330px;
    max-width: 400px;
    margin: 25px;
    padding: 10px 20px;
    border: aqua 5px solid;
    font-size: 18px;
}
#main{
   width: 100%;
   max-width: 400px;
}
